@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-hero-gradient {
        background: radial-gradient(circle at top left,
                rgba(59, 130, 246, 0.25),
                transparent 40%),
            radial-gradient(circle at bottom right,
                rgba(99, 102, 241, 0.25),
                transparent 40%),
            linear-gradient(135deg,
                #020617,
                #132a63);
    }

    .text-gradient-custom {
        background: linear-gradient(90deg,
                #FFFFFF 10%,
                #A5F3FC 20%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .btn-custom {
        background: linear-gradient(to right,
                #0891B2,
                #2563EB);


    }



}

@layer components {
    .btns-cta {
        @apply p-[8px] rounded-full cursor-pointer transition duration-300 ease-in-out hover:scale-110 hover:bg-white/30;
    }

    .bg-border-btns {
        @apply border-[1px] bg-white/5 border-white/20;
    }

    .nav-line {
        @apply relative md:pb-1 md:border-b-2 md:border-transparent md:bg-gradient-to-r md:from-cyan-400 md:to-blue-500 md:bg-[length:0%_2px] md:bg-no-repeat md:bg-left-bottom md:transition-[background-size] md:duration-300 md:ease-out hover:bg-[length:100%_2px];
    }

    .about-li {
        @apply bg-border-btns rounded-3xl px-2 py-1;
    }
}